h1 {
    width: 650px;
    margin: auto;
    text-align: center;
    color: white;
    background-color: #336699;
    padding: 20px;
    margin: 0 auto 20px auto;
    border-radius: 5px;
}

p {
    margin-left: 22%;
}

table {
    width: 680px;
    margin: auto;
}

th {
    background-color: #6699CC;
    text-align: center;
}

td {
    background-color: #cccccc;
    text-align: center;
}

tr:hover {
    opacity: 0.5;
}