#wrapper {
  background-color: white;
  padding: 15px;
}

#logo {
  float: right;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

#map {
  padding: 5px;
}

.nav-link {
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

}


.nav-link:hover {
    background-color: #ff0051d5;;
      
  }


table {
  background-color: white;
}

.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  border : 0;
  max-width: 200px;
  margin: auto;
  text-align: center;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #f7266cd5;
  text-align: center;
  cursor: pointer;
  width: 170px;
  font-size: 18px;
}

#notif {
    background-color: #393636e8;
}


.card button:hover {
  opacity: 0.8;
}


#navigation {
    margin-top: 20px;
    margin-bottom: 50px;
}

#section {
    margin-bottom: 250px;
}

.d-block {
    width: 100px;
    height: 600px;
}

